<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="677319ab-dac4-49e9-8532-7337ae83e40b" name="RCR126" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="677319ab-dac4-49e9-8532-7337ae83e40bfileName">RCR126</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
